@page "/MstLoginUser"

<h3>LoginTest</h3>

<RadzenButton Style="w-100" ButtonStyle="ButtonStyle.Secondary" Text="登録" Click="@Register" />
<br/>
<br/>
<RadzenButton Style="w-100" ButtonStyle="ButtonStyle.Secondary" Text="削除" Click="@Delete" />
<br/>
<br/>
<RadzenButton Style="w-100" ButtonStyle="ButtonStyle.Secondary" Text="パスワード変更" Click="@UpdatePassword" />
