@inherits LayoutComponentBase

<RadzenNotification />
<RadzenDialog />

@*<div class="top-row ps-3  navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>*@

<div class="page">
    <div class="sidebar">
        @*<div>*@
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            Name: <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
