@page "/DownloadTestPage"

<h3>ダウンロードテスト</h3>

@*<button @onclick="DownloadFileFromStream">
    ダウンロード
</button>*@

<RadzenButton Style="w-100" ButtonStyle="ButtonStyle.Secondary" Text="ダウンロード" Click="@DownloadFileFromStream" />
